common --symlink_prefix=.bin/
run --run_in_cwd
build --copt=-DPERI_EDITOR
build --compilation_mode=dbg
build:debug --copt=-DPERI_DEBUG
build:release --compilation_mode=opt
build:release --copt=-DPERI_RELEASE
build:release --strip=always

build:web --platforms=@tetro_toolchain//:wasm32

build:windows --platforms=@tetro_toolchain//:windows_x64
build:linux --platforms=@tetro_toolchain//:linux_x86_64
try-import %workspace%/.bazelrc.local
